{{define "content"}}
<main class="h-100vh d-flex flex-column flex-xxl-row justify-content-xxl-between p-xxl-4">
    <section class="col-12 col-xxl-7 bg-light bg-gradient border border border-primary-subtle rounded h-fit-content">
        <div class="m-2">
            <h1>Calculateur reliques</h1>
            <p class="m-0">Cette application a pour but de distribuer les reliques obtenues dans les instances.</p>
            <div class="form-floating w-fit-content">
                <select class="form-select" id="rate-relics">
                </select>
                <label for="rate-relics">Taux</label>
            </div>
        </div>
        <div id="relics" class="row gy-2 gx-0 g-xxl-1">
        </div>
    </section>
    <section class="col-12 col-xxl-4 bg-light bg-gradient border border border-primary-subtle rounded">
        <div class="p-3">
            <div class="input-group">
                <button class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#distributionModal"
                        disabled
                >
                    Distribuer
                </button>
                <div class="input-group-text bg-white">
                    Total d'AP :
                    <span id="total-ap" class="ms-1">0</span>
                </div>
            </div>
        </div>
        <hr class="m-0"/>
        <div class="p-3">
            <h4>Ajout de membre</h4>
            <form class="row g-3 align-items-center needs-validation" action="javascript:void(0);" novalidate>
                <div class="input-group has-validation">
                    <div class="form-floating">
                        <input id="namePlayer" class="form-control" type="text" placeholder="Pseudo">
                        <label for="namePlayer">Pseudo</label>
                    </div>
                    <button id="add-member" class="btn btn-success" type="button" disabled>
                        <img src="/static/images/svg/personPlus.svg" alt="Ajout d'un joueur" height="24" width="24">
                    </button>
                    <div class="invalid-feedback">Veuillez saisir un pseudo</div>
                </div>
            </form>
        </div>
        <hr class="m-0"/>
        <div class="p-3">
            <h4>Groupe</h4>
            <ul class="list-group list-group-numbered"></ul>
        </div>
    </section>
</main>

<div id="distributionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="distributionModal" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-fullscreen-md-down modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Distribution</h1>
                <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close" name="close"></button>
            </div>
            <div class="modal-body row g-2">
                <ul class="list-group col-12 col-md-6 col-lg-4"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-primary" name="validate">Confirmer la distribution</button>
                <button type="button" data-bs-dismiss="modal" class="btn btn-secondary" name="close">Fermer</button>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "javascript"}}
<script src="/static/js/index.js" type="module"></script>
{{end}}