html, body, .h-100vh {
    height: 100vh;
}

body {
    background-image: url("/static/images/wallpaper.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.h-fit-content {
    height: fit-content;
}

.w-fit-content {
    width: fit-content;
}